* {
    font-family: 'Roboto', sans-serif;
}

.main_header_menu {
    font-size: medium;
    text-decoration: none;
    list-style: none;
}

.main_header_menu li {
    list-style: none;
    margin: 50px 5px;

}

.main_header_menu li a {
    padding: 4px 4px;
    color: #731919;
    font-weight: 900;
    font-family: 'Roboto Slab', serif;
}


.carousel-inner{
    height: 600px;
}

.item img {
    height: 100% !important;
    width:  100% !important;
    
}


figcaption {
    width: 250px;
    
}

.figure-img {
    width: 230px;
}

.figure-caption {
    font-size: 16px;
    color: #731919;
}
.info_box {
    margin: 50px 50px;  
}

.card-img {
    width: 150px;
    margin-left: auto;
    padding: 5px;
}

.card-img-overlay {
    padding: 15px;
}

.historia_container {
    padding: 50px;
    font-size: 16px;
    color: #731919;
}